<div style="border:solid Chocolate 2px; padding: 40px">

<b> –Ø—Ä–æ—Å–ª–∞–≤, –ø—Ä–∏–≤–µ—Ç!üëã</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ì—Ä–∏–±, –∏ —è –±—É–¥—É —Ä–µ–≤—å—é–µ—Ä–æ–º —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. 

–°—Ä–∞–∑—É —Ö–æ—á—É –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã" - –Ω–∞–¥–µ—é—Å—å, —Ç–∞–∫ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ:) –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø—Ä–∏–¥—É–º–∞–µ–º —á—Ç–æ-–Ω–∏–±—É–¥—å –µ—â—ë!
    
–¶–µ–ª—å —Ä–µ–≤—å—é - –Ω–µ –∏—Å–∫–∞—Ç—å –æ—à–∏–±–∫–∏ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ, –∞ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –µ—â—ë –ª—É—á—à–µ, —É—Å—Ç—Ä–∞–Ω–∏–≤ –Ω–µ–¥–æ—á—ë—Ç—ã –∏ –ø—Ä–∏–±–ª–∏–∑–∏–≤ –µ—ë –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º –∞–Ω–∞–ª–∏—Ç–∏–∫–∞. –ü–æ—ç—Ç–æ–º—É –Ω–µ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞–π—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞ - —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –∏ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤—ã—Ä–∞—Å—Ç–∏!
    
–¢—ã –º–æ–∂–µ—à—å –Ω–∞–π—Ç–∏ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–±–æ–∑–Ω–∞—á–µ–Ω–Ω—ã–µ <font color='green'>–∑–µ–ª–µ–Ω—ã–º</font>, <font color='gold'>–∂–µ–ª—Ç—ã–º</font> –∏ <font color='red'>–∫—Ä–∞—Å–Ω—ã–º</font> —Ü–≤–µ—Ç–∞–º–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä:

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ø–æ—Ö–≤–∞–ª–∞, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ ¬´—Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π¬ª, –ø–æ–ª–µ–∑–Ω—ã–µ –ª–∞–π—Ñ—Ö–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–¥–µ–ª–∞—é—Ç –∏ –±–µ–∑ —Ç–æ–≥–æ –∫—Ä–∞—Å–∏–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –µ—â—ë –±–æ–ª–µ–µ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–º.
</div>

<br/>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –∏–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –Ω–∞ –±—É–¥—É—â–µ–µ. 
</div>


<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ö—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

–Ø –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç, –µ—Å–ª–∏ –≤ –Ω—ë–º –±—É–¥–µ—Ç —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∞ –∫—Ä–∏—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã—Ö –æ—à–∏–±–æ–∫ - —Ç–æ–≥–¥–∞ –ø—Ä–æ–µ–∫—Ç –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –ù–æ —ç—Ç–æ –Ω–µ—Å—Ç—Ä–∞—à–Ω–æ - —è –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–º —Ç–µ–±–µ –ø–æ–¥—Å–∫–∞–∑–∫—É –∏–ª–∏ —É–∫–∞–∂—É –≤–µ—Ä–Ω–æ–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–µ.
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ —Å–ª—É—á–∞–µ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞. 
    
–¢—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—à—å –∑–∞–¥–∞–≤–∞—Ç—å —Å–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã, —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –¥–µ–ª–∞—Ç—å –ø–æ–º–µ—Ç–∫–∏ –∏ –ø–æ—è—Å–Ω–µ–Ω–∏—è - –ø–æ–ª–Ω–∞—è —Ç–≤–æ—Ä—á–µ—Å–∫–∞—è —Å–≤–æ–±–æ–¥–∞! –ù–æ –º–∞–ª–µ–Ω—å–∫–∞—è –ø—Ä–æ—Å—å–±–∞ - –ø—É—Å–∫–∞–π –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—É—Ç–∞–Ω–∏—Ü—ã –≤ –Ω–∞—à–µ–º –æ–±—â–µ–Ω–∏–∏:)
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫:
    
<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*—Ç–≤–æ–π —Ç–µ–∫—Å—Ç*
</div>
    
–î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!

# –ó–∞–¥–∞—á–∞:
–ö–æ–º–ø–∞–Ω–∏—è –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. <br>
–ú–æ—è –ø–µ—Ä–≤–∞—è –∑–∞–¥–∞—á–∞ –∫–∞–∫ –∞–Ω–∞–ª–∏—Ç–∏–∫–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö. <br>
–í –Ω–µ–π ‚Äî –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

# –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö:

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–µ–∫—Ä–∞—Å–Ω–æ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!
    
–°–ø–∞—Å–∏–±–æ, —á—Ç–æ –µ—Å—Ç—å –æ–≥–ª–∞–≤–ª–µ–Ω–∏–µ –≤ –ø–ª–∞–≥–∏–Ω–µ toc - –ø–æ –ø—Ä–æ–µ–∫—Ç—É —É–¥–æ–±–Ω–æ –ø–µ—Ä–µ–º–µ—â–∞—Ç—å—Å—è:)

# –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine

In [1]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
# db_config = {'user': '–ö–∞–∫–æ–µ-—Ç–æ –∏–º—è', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
# 'pwd': '–ö–∞–∫–æ–π-—Ç–æ –ø–∞—Ä–æ–ª—å', # –ø–∞—Ä–æ–ª—å
# 'host': '–ö–∞–∫–æ–π-—Ç–æ —Ö–æ—Å—Ç',
# 'port': –ö–∞–∫–æ–π-—Ç–æ –ø–æ—Ä—Ç, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
# 'db': '–µ—â—ë —á—Ç–æ-—Ç–æ'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

In [3]:
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])

In [4]:
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

In [5]:
def sql(query):
    return(pd.io.sql.read_sql(query, con = engine))

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!
    
–°–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø–µ—Ä–µ–∑–∞–ø—É—Å–∫–∞–µ—à—å —è–¥—Ä–æ –ø—Ä–æ–µ–∫—Ç–∞ –ø–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π –Ω–∞ —Ä–µ–≤—å—é - —ç—Ç–æ –≤–∞–∂–Ω—ã–π —à–∞–≥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—Ä–æ—Å—Ç—ã—Ö –∏ –¥–æ—Å–∞–¥–Ω—ã—Ö –æ—à–∏–±–æ–∫ –ø—Ä–∏ –≤–æ—Å–ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–∏ —Ä–µ—à–Ω–µ–∏—è:)
</div>

# –ò—Å—Å–ª–µ–¥—É–π—Ç–µ —Ç–∞–±–ª–∏—Ü—ã ‚Äî –≤—ã–≤–µ–¥–∏—Ç–µ –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏;

## books

In [6]:
sql('''
    SELECT *
    FROM books
    LIMIT 1
''')

   book_id  author_id         title  num_pages publication_date  publisher_id
0        1        546  'Salem's Lot        594       2005-11-01            93

## authors

In [7]:
sql('''
    SELECT *
    FROM authors
    LIMIT 1
''')

   author_id      author
0          1  A.S. Byatt

## publishers

In [8]:
sql('''
    SELECT *
    FROM publishers
    LIMIT 1
''')

   publisher_id publisher
0             1       Ace

## ratings

In [9]:
sql('''
    SELECT *
    FROM ratings
    LIMIT 1
''')

   rating_id  book_id    username  rating
0          1        1  ryanfranco       4

## reviews

In [10]:
sql('''
    SELECT *
    FROM reviews
    LIMIT 1
''')

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞–Ω–Ω—ã–µ –æ—Å–º–æ—Ç—Ä–µ–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ï—Å—Ç—å –¥—É–±–ª–∏—Ä—É—é—â–∏–π—Å—è –∫–æ–¥ - —Ç—ã –≤—ã–ø–æ–ª–Ω—è–µ—à—å –æ–¥–∏–Ω –∏ —Ç–æ—Ç –∂–µ –∑–∞–ø—Ä–æ—Å, –º–µ–Ω—è—è –Ω–∞–∑–≤–∞–Ω–∏—è —Ç–∞–±–ª–∏—Ü. –î–∞–≤–∞–π –ø–æ–ø—Ä–æ–±—É–µ–º –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞—Ç—å —ç—Ç–æ—Ç –ø—Ä–æ—Ü–µ—Å—Å —á–µ—Ä–µ–∑ —Ü–∏–∫–ª? –ü–æ–¥—Å—Ç–∞–≤–ª—è—Ç—å –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –≤ —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é `f-—Å—Ç—Ä–æ–∫–∏` –∏–ª–∏ –º–µ—Ç–æ–¥–∞ `format()`. –°–∞–º—É —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å –≤–Ω—É—Ç—Ä–∏ —Ü–∏–∫–ª–∞ –Ω–∞ –∫–∞–∂–¥–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏.

</div>

# –ó–∞–¥–∞–Ω–∏—è

## –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [11]:
sql('''
    SELECT COUNT(*)
    FROM books
    WHERE publication_date > '2000-01-01'
''')

   count
0    819

–í—ã–≤–æ–¥:<br>

–í—Å–µ–≥–æ 819 –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

## –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;

In [12]:
sql('''

    SELECT book_id,
            title,
            ROUND(AVG(rating),2) AS avg_rating,
            COUNT(DISTINCT (review_id)) AS count_reviews
    FROM books
        LEFT JOIN ratings USING(book_id)
        LEFT JOIN reviews USING(book_id)
    GROUP BY book_id
    ORDER BY 4
''')

,book_id,title,avg_rating,count_reviews
0,83,Anne Rice's The Vampire Lestat: A Graphic Novel,3.67,0
1,672,The Cat in the Hat and Other Dr. Seuss Favorites,5.00,0
2,221,Essential Tales and Poems,4.00,0
3,808,The Natural Way to Draw,3.00,0
4,191,Disney's Beauty and the Beast (A Little Golden...,4.00,0
...,...,...,...,...
995,733,The Giver (The Giver #1),3.75,6
996,854,The Road,3.77,6
997,695,The Curious Incident of the Dog in the Night-Time,4.08,6
998,696,The Da Vinci Code (Robert Langdon #2),3.83,6
999,948,Twilight (Twilight #1),3.66,7

–í—ã–≤–æ–¥:<br>

–í—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –∫–Ω–∏–≥–∏ –±–µ–∑ –æ–±–∑–æ—Ä–æ–≤.<br>
–î–æ—Å—Ç–∞–ª –¥–∞–Ω–Ω—ã–µ, –¥–æ–±–∞–≤–∏–ª –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã: 
<ul>
   <li> avg_rating - —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∫–Ω–∏–≥–∏
       <li>count_reviews - –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤.
</ul>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ú–µ—Ç—Ä–∏–∫–∏ –¥–ª—è –∫–Ω–∏–≥ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –≤–µ—Ä–Ω–æ! –ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –º–µ—Ç—Ä–∏–∫–∏ –ø–æ—Å—á–∏—Ç–∞–Ω—ã –∏ –¥–ª—è —Ç–µ—Ö –∫–Ω–∏–≥, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –Ω–µ—Ç –æ—Ç–∑—ã–≤–æ–≤ - –¥–æ–≤–æ–ª—å–Ω–æ —á–∞—Å—Ç–∞—è –æ—à–∏–±–∫–∞ –≤ —ç—Ç–æ–º –∑–∞–¥–∞–Ω–∏–∏:)

</div>

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;

–£—Å–ª–æ–≤–∏–µ –≤ HAVING - –ø—Ä–∏ –≤–∞—Ä–∏–∞–Ω—Ç–µ, –µ—Å–ª–∏ –æ–∫–∞–∂–µ—Ç—Å—è –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤ —Å –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –≤—ã–ø—É—â–µ–Ω—ã—Ö –∫–Ω–∏–≥.

In [13]:
sql('''
    WITH id AS (
        SELECT publisher_id,COUNT(book_id) AS count_books
        FROM books
        WHERE num_pages > 50
        GROUP BY publisher_id
        HAVING COUNT(book_id) = (
                            SELECT COUNT(book_id)
                            FROM books
                            WHERE num_pages > 50
                            GROUP BY publisher_id
                            ORDER BY 1 DESC
                            LIMIT 1
                            )
)
    SELECT publisher,count_books
    FROM id
        INNER JOIN publishers USING (publisher_id)
''')

       publisher  count_books
0  Penguin Books           42

–í—ã–≤–æ–¥:<br>

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ *Penguin Books* –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–∏–ª–∏ –≤–µ—Ä–Ω–æ! –°–ø–∞—Å–∏–±–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞:)

</div>

## –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;

In [14]:
sql('''
    SELECT author,ROUND(AVG(rating),2) AS avg_rating
    FROM ratings
        INNER JOIN books USING(book_id)
        INNER JOIN authors USING(author_id)
    WHERE book_id IN (
                    SELECT book_id
                    FROM ratings
                    GROUP BY book_id
                    HAVING COUNT(rating_id) >= 50 ) 
    GROUP BY author
    ORDER BY AVG(rating) DESC
    LIMIT 1
''')

                       author  avg_rating
0  J.K. Rowling/Mary GrandPr√©        4.29

–í—ã–≤–æ–¥: <br>

–°–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –∞–≤—Ç–æ—Ä - –¥—É—ç—Ç J.K. Rowling –∏ Mary GrandPr√© —Å–æ —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º 4.29.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ê–≤—Ç–æ—Ä —Å —Å–∞–º—ã–º –≤—ã—Å–æ–∫–∏–º —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –Ω–∞–π–¥–µ–Ω –≤–µ—Ä–Ω–æ! –ö–ª–∞—Å—Å–Ω–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–¥–µ–Ω —Å–∞–º —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ - –∏–º–µ–Ω–Ω–æ –≤ –µ–≥–æ —Ä–∞—Å—á—ë—Ç–µ –æ–±—ã—á–Ω–æ –¥–µ–ª–∞—é—Ç –æ—à–∏–±–∫–∏:)

</div>

## –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [15]:
sql('''
SELECT (COUNT(DISTINCT review_id)::NUMERIC /  COUNT(DISTINCT username)) AS avg_reviews
FROM (
    SELECT username,COUNT(rating_id)
    FROM ratings
    GROUP BY username
    HAVING COUNT(rating_id) > 50
    ) AS subq 
        LEFT JOIN reviews USING(username)
''')

   avg_reviews
0    24.333333

–í—ã–≤–æ–¥: 

–ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫, –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∏—à—É—Ç –ø–æ 24 –æ–±–∑–æ—Ä–∞.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫, –ø–æ—Å—á–∏—Ç–∞–Ω–æ –≤–µ—Ä–Ω–æ!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ì–æ–≤–æ—Ä—è –ø—Ä–æ –æ—Ç–∑—ã–≤—ã, –±—ã–ª–æ –±—ã –ª–æ–≥–∏—á–Ω–µ–µ –æ–∫—Ä—É–≥–ª–∏—Ç—å –æ—Ç–≤–µ—Ç –¥–æ —Ü–µ–ª–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –º–µ–Ω—å—à—É—é —Å—Ç–æ—Ä–æ–Ω—É - –æ—Ç–∑—ã–≤ –º–æ–∂–µ—Ç –±—ã—Ç—å –∏–ª–∏ —Ü–µ–ª—ã–º, –∏–ª–∏ –µ–≥–æ –≤–æ–æ–±—â–µ –Ω–µ—Ç:)
        </div>

# –í—ã–≤–æ–¥:
<ol>
    <li>–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞; </li>
        
        –í—Å–µ–≥–æ 819 –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

    
    
   <li> –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É.
    
        –ë—ã–ª–∏ –¥–æ–±–∞–≤–ª–µ–Ω—ã –Ω–æ–≤—ã–µ —Å—Ç–æ–ª–±—Ü—ã —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π.
   </li>
    <li>–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;¬∂
        
        –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.
   <li>–û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
        
        –°–∞–º—ã–π –ø–æ–ø—É–ª—è—Ä–Ω—ã–π –∞–≤—Ç–æ—Ä - –¥—É—ç—Ç J.K. Rowling –∏ Mary GrandPr√© —Å–æ —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º 4.29.
   <li>–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.
       
       –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫, –≤ —Å—Ä–µ–¥–Ω–µ–º –ø–∏—à—É—Ç –ø–æ 24 –æ–±–∑–æ—Ä–∞.
        
</ol>    

–í —Ö–æ–¥–µ —Ä–∞–±–æ—Ç—ã —è —Å–º–æ–≥ –ø–æ–¥–∫–ª—é—á–∏—Ç—å—Å—è –∫ –ë–î, –∏–∑–≤–ª–µ—á—å –¥–∞–Ω–Ω—ã–µ, —Å–æ—Å—Ç–∞–≤–∏—Ç—å –ø—Ä–æ—Å—Ç—ã–µ –∑–∞–ø—Ä–æ—Å—ã, –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ø–æ—Å—Ç–∞–≤–ª–µ–Ω–Ω—ã–µ –≤–æ–ø—Ä–æ—Å—ã.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –û—Ç–ª–∏—á–Ω—ã–π –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É!

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–Ø—Ä–æ—Å–ª–∞–≤, –æ—Ç–ª–∏—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞ –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è —É —Ç–µ–±—è –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤–µ—Ä–Ω–æ!

–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è —Ç–≤–æ–π –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–π –ø–æ–¥—Ö–æ–¥ –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞, —Ç—ã —Å–æ–±–ª—é–¥–∞–µ—à—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Ä–∞–±–æ—Ç—ã, –≤—ã–ø–æ–ª–Ω—è–µ—à—å –µ—ë –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ - —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ! –®–∞–≥–∏ –ø—Ä–æ–µ–∫—Ç–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –ø–æ –ø–æ—Ä—è–¥–∫—É —Å–æ–≥–ª–∞—Å–Ω–æ –ø–ª–∞–Ω—É –ø—Ä–æ–µ–∫—Ç–∞, –Ω–µ—Ç —Å–º—ã—Å–ª–æ–≤—ã—Ö –∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–Ω—ã—Ö —è–º. –í–∞–∂–Ω–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –≤—ã–≤–æ–¥—ã.
    
SQL –∑–∞–ø—Ä–æ—Å—ã –Ω–∞–ø–∏—Å–∞–Ω—ã —Ö–æ—Ä–æ—à–æ –∏ –æ–ø—Ç–∏–º–∞–ª—å–Ω–æ, –≤ –Ω–∏—Ö –Ω–µ—Ç –∏–∑–±—ã—Ç–æ—á–Ω—ã—Ö –¥–µ–π—Å—Ç–≤–∏–π, –æ–Ω–∏ –≤–æ–∑–≤—Ä–∞—â–∞—é—Ç –≤–µ—Ä–Ω—ã–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç - —ç—Ç–æ –∑–¥–æ—Ä–æ–≤–æ, –∫–∞–∂–µ—Ç—Å—è, —Ç–µ–±–µ —É–¥–∞–ª–æ—Å—å –∑–¥–æ—Ä–æ–≤–æ —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è –≤ —Ç–µ–º–µ.
    
–ö—Ä–∏—Ç–∏—á–µ—Å–∫–∏—Ö –∑–∞–º–µ—á–∞–Ω–∏–π –ø–æ –ø—Ä–æ–µ–∫—Ç—É –Ω–µ—Ç - —Ç—ã –º–æ–ª–æ–¥–µ—Ü, –æ—Ç–ª–∏—á–Ω–∞—è —Ä–∞–±–æ—Ç–∞! 
    
–ï—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ —É–ª—É—á—à–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞ - –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω–∞—è –º–µ–ª–æ—á—å, –∫–æ—Ç–æ—Ä–∞—è –Ω–µ –∑–∞–π–º—ë—Ç –º–Ω–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏, –Ω–æ —Å–¥–µ–ª–∞–µ—Ç —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–∏ –±–æ–ª–µ–µ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–º. –ë—É–¥–µ—Ç –∫–ª–∞—Å—Å–Ω–æ, –µ—Å–ª–∏ —ç—Ç–∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –±—É–¥—É—Ç —É—á—Ç–µ–Ω—ã –≤ —Ç–≤–æ–µ–π —Ä–∞–±–æ—Ç–µ:) –≠—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤–Ω–µ —Ä–µ–≤—å—é –ø—Ä–∏ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞ –¥–ª—è –ø–æ—Ä—Ç—Ñ–æ–ª–∏–æ.
    
–°–ø–∞—Å–∏–±–æ –∑–∞ —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –∂–µ–ª–∞—é –ø—Ä–∏—è—Ç–Ω–æ–≥–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏—è –≤—ã–ø—É—Å–∫–Ω–æ–≥–æ –º–æ–¥—É–ª—è:)